@import url('..img/bg.jpg');
*{

    font-family: 'Poppins', sans-serif;
 margin: 0;  
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;



}

header{
background-color: rgba(214, 241, 241,0,5);
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;

}

.logo{
text-decoration: none;
color: limegreen;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color: limegreen;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
padding-left: 30px;

}
.navigation a:hover{
color: mediumslateblue;
}

section{
padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 27em;
    display: flex;
    align-items: center;
    background: url(../img/coffe7.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}

.main h1{
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    font-size: 3em;
    font-weight: 600;
    margin-left: 700px;
    margin-right: 70px;

}
.main h5{
   color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 700px;
  margin-right: -85px;
}

.social-icons a {
  color: aliceblue;
  font-size: 1.7;
  padding-right: 30px;

}

.social-icons{
    margin-left: 700px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background-color: cornsilk;
  width: 340px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}
.coffe{
    width: 70px;
    text-align: center;
    margin-left: 105px;
    margin-bottom: 4px;
}
.coffe1{
    width: 60px;
    text-align: center;
    margin-left: 105px;
}
.info {
  text-align: center;
}
p{
    margin-top: 7px;
}
.info h3 {
  color: #222;
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 10px;
}

.projects {
  background-color: #000016;
}
.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #fff;
min-height: 14em;
width: 23em;
overflow: hidden;
border-radius: 10px;
margin: 20px;
transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover .project-image {
  opacity: 0.7;
}
.projrct-image img{
  width: 100%
}
.project-info {
  padding: 1em;
}

.Project-category {
  font-size: 0.8 em;
  color: black;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #601cfc;
}

.contact .icon {
  font-size: 4em;
}

.contact .info {
  color: #000016;
}

.contact .info p {
  font-size: 1.5em;

}

.footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: chartreuse;
}

.footer .social-icons {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

@media (max-width:1023px) {
  header {
    padding: 12px 20px;
  }
  .navigation {
    padding-left: 10px;
  }
  .title {
    font-size: 1.8em;
  }
  section {
    padding: 80px 20px;

  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1.6em;
  }
  .content {
    flex-direction: column;
    align-items: center;

  }


  
}







@media (max-width:641px) {
  body {
font-size: 12px;
  }
  .main-content h2 {
    font-size: 0.8em;
  }
  .main-content h3 {
    font-size: 1.4em;
  }

}



@media (max-width:300px) {
  body {
font-size: 10px;
  }
  .main-content h2 {
    font-size: 0.8em;
  }
  .main-content h3 {
    font-size: 1.4em;
  }

}
  
.img-k1{
    width: 200px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

@media (min-width: 992px)
.container {
    max-width: 960px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}